<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inmobiliaria">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dream&apos;s House"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MapsActivity" />
        <activity android:name=".ui.property.EditPropertyActivity" />
        <activity android:name=".ui.property.AddPropertyActivity" />
        <activity android:name=".ui.property.InfoActivity" />
        <activity
            android:name=".ui.DashboardActivity"
            android:label="@string/title_activity_dashboard" />
        <activity android:name=".ui.loginsignup.RegistroActivity" />
        <activity android:name=".ui.loginsignup.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>